<%- include('nav'); -%>
    <%= console.warn(data) %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Update User</h5>
                        <form action="/editusersave?_method=PUT" method="POST">
                            <div class="form-floating mb-3" style="display:none;">
                                <input type="first" class="form-control" name="id"
                                     value="<%= data.id %>">
                                <label for="floatingInput">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="first" class="form-control" name="first_name"
                                     value="<%= data.first_name %>">
                                <label for="floatingInput">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="last" class="form-control" name="last_name"
                                    value="<%= data.last_name %>">
                                <label for="floatingInput">Last Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email"
                                value="<%= data.email %>">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="city" class="form-control" name="city"
                                value="<%= data.city %>">
                                <label for="floatingInput">City</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Save</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <%- include('footer'); -%>